# Build outputs
dist/
build/
*.spec
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
venv/
env/
.venv/
.env/

# IDEs
.idea/
.vscode/

# Project specific
VehicleMonitoring.xlsx
vehicle_monitoring_mock.xlsx
app_icon.ico
~$*.xlsx

# OS generated
.DS_Store
Thumbs.db
